<section class="hero">
  <div class="background-overlay">
    <div class="gradient-overlay">
      <main class="container">
        <div>
          <h1 class="hero-heading">Mathis Garberg</h1>
          <h2 class="hero-subheading">
            {{ 'app.about.hero.subheading' | translate }}
          </h2>

          <div class="hero-wrapper" [ngClass]="routeAnimationsElements">
            <div class="avatar-container">
              <div class="author-avatar">
                <a
                  class="avatar-link"
                  href="https://itnext.io/@mathis.garberg"
                  aria-label="Avatar"
                  rel="noopener"
                  target="_blank"
                >
                  <img
                    class="avatar"
                    alt="avatar"
                    width="170"
                    height="170"
                    [src]="avatar"
                  />
                </a>
              </div>
            </div>
            <p>
              {{ 'app.about.short-desc.0' | translate }}
              <a href=""> {{ 'app.about.short-desc.1' | translate }}</a>
              {{ 'app.about.short-desc.2' | translate }}
              <a href="">{{ 'app.about.short-desc.3' | translate }}</a>
              {{ 'app.about.short-desc.4' | translate }}
              <a href="">{{ 'app.about.short-desc.5' | translate }}</a>
              {{ 'app.about.short-desc.6' | translate }}
            </p>
          </div>

          <section class="page-actions">
            <app-card-button
              [ngClass]="routeAnimationsElements"
              [content]="'app.about.about-me' | translate"
              matColor="warn"
            ></app-card-button>
            <app-card-button
              [ngClass]="routeAnimationsElements"
              [content]="'Resumé'"
              matColor="primary"
            ></app-card-button>

            <app-card-button
              [ngClass]="routeAnimationsElements"
              [content]="'app.about.my-projects' | translate"
              matColor="primary"
            ></app-card-button>

            <app-card-button
              [ngClass]="routeAnimationsElements"
              [content]="'app.about.contact-me' | translate"
              matColor="accent"
            ></app-card-button>

            <!-- <app-card-button
              [ngClass]="routeAnimationsElements"
              [content]="'app.about.change-theme' | translate"
              matColor="accent"
            ></app-card-button> -->
          </section>

          <p>{{ 'app.about.or-check-out-blogs' | translate | uppercase }}</p>
        </div>
      </main>
    </div>
  </div>
  <div class="container">
    <div class="docs-homepage-featured-components docs-homepage-carousel-row">
      <app-carousel [itemWidth]="360" aria-label="Featured articles">
        <a
          [ngClass]="routeAnimationsElements"
          *ngFor="let article of articles"
          appCarouselItem
          [href]="article.link"
          target="_blank"
          class="docs-featured-components-carousel-item"
        >
          <app-card
            [title]="article.name | translate"
            [description]="article.description"
            [createdAt]="article.createdAt"
            icon="medium_icon"
            iconSize="medium"
            iconWidth="42"
          >
          </app-card>
        </a>
      </app-carousel>
    </div>
    <a class="view-all-posts" [ngClass]="routeAnimationsElements">
      <app-card-button
        link="https://medium.com/@mathis.garberg"
        [content]="'app.buttons.view-all-blog-posts' | translate"
        icon="medium_icon"
        matColor="default"
        [isSmall]="true"
        link="https://medium.com/@mathis.garberg"
      ></app-card-button>
    </a>
  </div>
</section>
<!-- <div class="container">
  <section class="about">
    <h2>About Mathis</h2>
    <div class="about-container">
      <div class="about-description">
        <p>{{ 'app.about.description-1' | translate }}</p>
        <p>{{ 'app.about.description-2' | translate }}</p>
      </div>
      <div class="about-me-image">
        <img
          src="../../assets/images/mathis.png"
          alt="image of Mathis Garberg"
        />
      </div>
    </div>
  </section> -->

  <!-- <section class="experience">
    <h2>{{ 'app.heading.experience' | translate }}</h2>
    <div class="docs-homepage-featured-experiences docs-homepage-carousel-row">
      <app-carousel [itemWidth]="420" aria-label="Experiences">
        <a
          [ngClass]="routeAnimationsElements"
          *ngFor="let project of projects"
          appCarouselItem
          class="docs-featured-experiences-carousel-item"
        >
          <img [src]="project.thumbnail" />
          <div class="featuted-experiences-description">
            <h3>{{ project.title }}</h3>
            <div class="technologies">
              <span *ngFor="let technology of project.technologies">
                {{ technology }}
              </span>
            </div>
          </div>
        </a>
      </app-carousel>
    </div>
  </section> -->

  <!-- <section class="contact">
    <app-contact></app-contact>
  </section> -->
<!-- </div> -->
