@use '@angular/material' as mat;
@import '@angular/material/theming';

@mixin mathis-about-component-theme($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .background-overlay {
    color: mat.get-color-from-palette($foreground, text);
    background-color: mat.get-color-from-palette($background, background);
  }

  .gradient-overlay {
    &::before {
      background: linear-gradient(
        to bottom,
        mat.get-color-from-palette($background, background, 0) 0%,
        mat.get-color-from-palette($background, background, 1) 100%
      );
    }
  }
}
