<div class="background">
  <div class="gradient">
    <div class="container">
      <span class="left-content"></span>
      <div class="mid-content">
        <h1>Mathis Garberg</h1>

        <div class="hero-wrapper" [ngClass]="routeAnimationsElements">
          <a
            href="https://itnext.io/@mathis.garberg"
            aria-label="Avatar"
            rel="noopener"
            target="_blank"
          >
            <div class="avatar-container">
              <div class="author-avatar">
                <img
                  class="avatar"
                  alt="avatar"
                  width="200"
                  height="200"
                  [src]="avatar"
                />
              </div>
              <span class="hire-me">
                Consulting at ICE Norway
                <fa-icon [icon]="['fas', 'ban']"></fa-icon>
              </span>
            </div>
          </a>
          <p>{{ 'app.about.short-desc' | translate | uppercase }}</p>
        </div>

        <div class="actions">
          <app-card-button
            [ngClass]="routeAnimationsElements"
            [content]="'app.about.my-projects' | translate"
            [icon]=""
          ></app-card-button>

          <app-card-button
            [ngClass]="routeAnimationsElements"
            [content]="'app.about.change-theme' | translate"
            [icon]=""
          ></app-card-button>

          <app-card-button
            [ngClass]="routeAnimationsElements"
            [content]="'app.about.contact-me' | translate"
            [icon]=""
          ></app-card-button>
        </div>
        <h3 [ngClass]="routeAnimationsElements">
          {{ 'app.about.or-check-out-blogs' | translate }}
        </h3>

        <div
          class="docs-homepage-featured-components docs-homepage-carousel-row"
        >
          <app-carousel [itemWidth]="370" aria-label="Featured articles">
            <a
              [ngClass]="routeAnimationsElements"
              *ngFor="let article of articles"
              appCarouselItem
              class="docs-featured-components-carousel-item"
              routerLink="/components/{{ comp }}"
            >
              <app-card
                [title]="article.name | translate"
                icon="medium_icon"
                iconSize="medium"
              ></app-card>
            </a>
          </app-carousel>
        </div>
      </div>
      <span class="right-content"></span>
    </div>
  </div>
</div>
<div class="my-work-wrapper">
  <!-- <div class="my-work" [ngClass]="routeAnimationsElements">
    <span class="view-all">
      <app-card-button
        [content]="'View all blog posts'"
        [icon]="'medium_icon'"
        [isSmall]="true"
      ></app-card-button>
    </span>
  </div> -->
  <div class="about-me">
    <!-- <span>
      <h2>01. {{ 'app.about.about-me' | translate }}</h2>
      <div class="about-me-section">
        <app-card
          [iconSize]="'medium'"
          [title]="'app.about.p1' | translate"
        ></app-card>
        <img src="../../assets/images/1_pzkOXDV0FY3QkIROkVnwkA.png" alt="" />
      </div>
    </span> -->
  </div>
  <div class="projects">
    <!-- <h2>02. Where I've Worked</h2>
    <div class="docs-homepage-featured-projects docs-about-carousel-row">
      <app-carousel [itemWidth]="500" [aria-label]="'Featured components'">
        <a
          [ngClass]="routeAnimationsElements"
          *ngFor="let experience of experiences"
          appCarouselItem
          class="docs-featured-components-carousel-item"
          routerLink="/components/{{ comp }}"
        >
          <app-card
            [iconSize]="'large'"
            [icon]="experience.icon"
            [title]="experience.title"
          ></app-card>
        </a>
      </app-carousel>
    </div> -->
  </div>
  <div class="contant">
    <!-- <app-contact></app-contact> -->
  </div>
</div>
