@import '../../styles/styles-variables.scss';

.hero-heading {
  text-transform: uppercase;
  font-weight: 600;
  opacity: 0.8;
}

.hero-subheading {
  opacity: 0.5;
}

.hero {
  height: 100vh;

  .background-overlay {
    padding: 110px 0 0 0;
    position: relative;

    .page-actions {
      margin-top: 1rem;
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(auto-fit, minmax(240px, 220px));
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: url('../../assets/images/nature-winter.jpg') no-repeat center
        top;
      background-size: cover;
      opacity: 0.7;
      content: '';
    }

    .gradient-overlay {
      text-align: center;
      &::before {
        position: absolute;
        top: 51%;
        left: 0;
        bottom: 0;
        right: 0;
        content: '';
      }
    }

    .hero-wrapper {
      display: flex;
      flex-direction: column;

      p {
        text-transform: uppercase;
      }

      span {
        display: inline-block;
        padding: 10px 0 0 0;
        line-height: 16px;
      }

      .avatar {
        border-radius: 50%;
        border: 5px solid;
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
          0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      }

      .avatar-link {
        margin: 8px;
        display: inline-block;
        text-align: center;
        text-decoration: none;

        img {
          filter: grayscale(80%);
        }
      }
    }
  }
}

.container {
  position: relative;
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  .experience {
    padding: 100px 0;
  }

  .docs-homepage-featured-components {
    a {
      text-decoration: none;
    }
    .docs-featured-components-carousel-item {
      padding: 0.75rem;
    }
  }
  .docs-homepage-featured-experiences {
    a {
      text-decoration: none;
    }
    .featuted-experiences-description {
      margin-left: 0.5rem;
      h3 {
        padding: 0;
        margin: 0;
      }

      .technologies {
        font-size: 12px;
      }
    }
    img {
      width: 100%;
      filter: grayscale(80%);
      border-radius: 8px;
      box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }
    .docs-featured-experiences-carousel-item {
      display: grid;
      row-gap: 0.5rem;
      padding: 0.75rem;
      transition: all 0.5s ease;
      &:hover {
        transform: translateY(-3px);

        img {
          filter: grayscale(0%);
        }
      }
    }
  }
  .view-all-posts {
    display: flex;
    justify-content: flex-end;
  }
}

.about {
  padding: 100px 0;
  max-width: 48rem;
  margin: 0 auto;

  .about-container {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 2rem;

    .about-description {
      opacity: 0.5;
    }

    img {
      border: 5px solid;
      filter: grayscale(80%);
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
        0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      float: right;
      width: 300px;
      border-radius: 5px;
      // mask-image: linear-gradient(
      //   to top,
      //   rgba(0, 0, 0, 0) 0%,
      //   rgba(0, 0, 0, 0.65) 100%
      // );
    }
  }
}

@media (max-width: map-get($grid-breakpoints, md)) {
  .background {
    .actions {
      margin: 50px 0;
    }
  }
}

@media (max-width: map-get($grid-breakpoints, sm)) {
  .background {
    h1 {
      line-height: 1em;
    }

    .actions {
      margin: 40px 0 0 0;

      span {
        padding: 10px 0 20px 0;
      }

      a {
        width: 100%;
      }
    }
  }
}
