<section class="hero">
  <div class="background">
    <div class="gradient">
      <main class="container">
        <div>
          <h1>Mathis Garberg</h1>
          <h2>I build things you use every day on the web.</h2>

          <div class="hero-wrapper" [ngClass]="routeAnimationsElements">
            <div class="avatar-container">
              <div class="author-avatar">
                <a
                  href="https://itnext.io/@mathis.garberg"
                  aria-label="Avatar"
                  rel="noopener"
                  target="_blank"
                >
                  <img
                    class="avatar"
                    alt="avatar"
                    width="170"
                    height="170"
                    [src]="avatar"
                  />
                </a>
              </div>
            </div>
            <p>{{ 'app.about.short-desc' | translate | uppercase }}</p>
          </div>

          <section class="page-actions">
            <app-card-button
              [ngClass]="routeAnimationsElements"
              [content]="'app.about.my-projects' | translate"
              matColor="primary"
            ></app-card-button>

            <app-card-button
              [ngClass]="routeAnimationsElements"
              [content]="'app.about.change-theme' | translate"
              matColor="accent"
            ></app-card-button>

            <app-card-button
              [ngClass]="routeAnimationsElements"
              [content]="'app.about.about-me' | translate"
              matColor="warn"
            ></app-card-button>

            <app-card-button
              [ngClass]="routeAnimationsElements"
              [content]="'app.about.contact-me' | translate"
              matColor="primary"
            ></app-card-button>
          </section>

          <div>or check out blog posts about</div>
        </div>
      </main>
    </div>
  </div>
  <div class="container">
    <div class="docs-homepage-featured-components docs-homepage-carousel-row">
      <app-carousel [itemWidth]="260" aria-label="Featured articles">
        <a
          [ngClass]="routeAnimationsElements"
          *ngFor="let article of articles"
          appCarouselItem
          class="docs-featured-components-carousel-item"
          routerLink="/components/{{ comp }}"
        >
          <app-card
            [title]="article.name | translate"
            [createdAt]="article.createdAt"
            icon="medium_icon"
            iconSize="medium"
            iconWidth="42"
          >
          </app-card>
        </a>
      </app-carousel>
    </div>
    <div class="view-all-posts" [ngClass]="routeAnimationsElements">
      <app-card-button
        content="View all blog posts"
        icon="medium_icon"
        matColor="default"
        [isSmall]="true"
        link="https://medium.com/@mathis.garberg"
      ></app-card-button>
    </div>
  </div>
</section>
<div class="container">
  <section class="projects">
    <h2>01. Work Experience</h2>
    <div class="docs-homepage-featured-experiences docs-homepage-carousel-row">
      <app-carousel [itemWidth]="360" aria-label="Experiences">
        <a
          [ngClass]="routeAnimationsElements"
          *ngFor="let experience of experiences"
          appCarouselItem
          class="docs-featured-experiences-carousel-item"
          routerLink="/components/{{ comp }}"
        >
          <img
            [src]="experience.imageSource"
          />
          <h3>{{ experience.title }}</h3>
          <span>Premier League World 2020/21</span>
        </a>
      </app-carousel>
    </div>
  </section>

  <!-- <div class="docs-homepage-featured-components docs-homepage-carousel-row">
    <app-carousel [itemWidth]="360" aria-label="Featured components">
      <a
        [ngClass]="routeAnimationsElements"
        *ngFor="let experience of experiences"
        appCarouselItem
        class="docs-featured-components-carousel-item"
        routerLink="/components/{{ comp }}"
      >
        <app-card
          iconSize="large"
          [icon]="experience.icon"
          [title]="experience.title"
          [description]="experience.description"
          [iconWidth]="experience.iconWidth"
          createdAt="2018 - now"
        ></app-card>
      </a>
    </app-carousel>
  </div> -->

  <section class="about">
    <h2>02. About Me</h2>
    <div class="about-container">
      <div class="about-description">
        <p>{{ 'app.about.description-1' | translate }}</p>
      </div>
      <div class="about-me-image">
        <img src="../../assets/images/mathis.png" alt="" />
      </div>
    </div>
  </section>
</div>
