<div class="container" fxLayout="row">
  <div>
    <button
      fxShow="true"
      fxHide.gt-sm="true"
      mat-icon-button
      aria-label="bars"
      (click)="openSidenav.emit()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span
      [routerLink]="webFlowPaths.About"
      class="branding spacer center d-inline d-sm-none"
    >
      <img alt="logo" [src]="logo" width="28" height="28" />
    </span>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button>
  </div>
  <div>
    <span class="d-none d-md-inline">
      <button
        mat-button
        class="nav-button"
        *ngFor="let item of navigation"
        [routerLink]="[item.link]"
        routerLinkActive="active"
      >
        {{ item.label | translate }}
      </button>
      <ng-container *appNoShellRender>
        <ng-container *ngIf="isAuthenticated; else showLoginButton">
          <button
            mat-button
            class="nav-button"
            [routerLink]="webFlowPaths.Admin"
            routerLinkActive="active"
          >
            Admin Panel
          </button>
          <button mat-button class="nav-button" (click)="onLogoutClick()">
            Logout
          </button>
        </ng-container>
        <ng-template #showLoginButton>
          <button
            mat-button
            class="nav-button"
            [routerLink]="webFlowPaths.Login"
            routerLinkActive="active"
          >
            Login
          </button>
        </ng-template>
      </ng-container>
    </span>

    <button
      mat-icon-button
      [routerLink]="webFlowPaths.Settings"
      aria-label="Settings"
      class="d-none d-sm-inline"
    >
      <fa-icon icon="cog"></fa-icon>
    </button>

    <a
      [matTooltip]="'app.about.view-profile' | translate"
      aria-label="Github"
      matdTooltipPosition="before"
      mat-icon-button
      class="link d-none d-sm-inline"
      href="https://github.com/mathisGarberg"
      rel="noopener"
      target="_blank"
    >
      View
    </a>

    <span *ngIf="language">
      <mat-select
        ngDefaultControl
        [ngModel]="language"
        aria-label="Languages"
        (selectionChange)="onLanguageSelect($event)"
      >
        <mat-option role="option" *ngFor="let l of languages" [value]="l">
          {{ l.toUpperCase() }}
        </mat-option>
      </mat-select>
    </span>
  </div>
</div>
