<div class="container">
  <div>
    <button
      fxShow="true"
      fxHide.gt-sm="true"
      mat-icon-button
      aria-label="bars"
      (click)="openSidenav.emit()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span
      fxShow="true"
      fxHide.lt-md="true"
      [routerLink]="webFlowPaths.About"
      class="branding spacer center d-inline d-sm-none"
    >
      <img alt="logo" [src]="logo" width="28" height="28" />
    </span>
  </div>
  <span class="d-none d-md-inline">
    <button
      mat-button
      class="nav-button"
      *ngFor="let item of navigation; let i = index"
      [routerLink]="[item.link]"
      routerLinkActive="active"
    >
      {{ (item.label | translate) }}
    </button>
    <ng-container *appNoShellRender>
      <ng-container *ngIf="isAuthenticated; else showLoginButton">
        <button
          mat-button
          class="nav-button"
          [routerLink]="webFlowPaths.Admin"
          routerLinkActive="active"
        >
          Admin Panel
        </button>
      </ng-container>
      <ng-template #showLoginButton>
        <button
          mat-button
          class="nav-button"
          [routerLink]="webFlowPaths.Login"
          routerLinkActive="active"
        >
          Login
        </button>
      </ng-template>
    </ng-container>
  </span>
  <div fxShow="true" fxHide.lt-md="true">
    <button
      mat-icon-button
      [routerLink]="webFlowPaths.Settings"
      aria-label="Settings"
      class="d-none d-sm-inline"
    >
      <fa-icon icon="cog"></fa-icon>
    </button>

    <a
      [matTooltip]="'app.about.view-profile' | translate"
      aria-label="Github"
      matdTooltipPosition="before"
      mat-icon-button
      class="link d-none d-sm-inline"
      href="https://github.com/mathisGarberg"
      rel="noopener"
      target="_blank"
    >
      <fa-icon [icon]="['fab', 'github']"></fa-icon>
    </a>

    <span *ngIf="language">
      <mat-select
        ngDefaultControl
        [ngModel]="language"
        aria-label="Languages"
        (selectionChange)="onLanguageSelect($event)"
      >
        <mat-option role="option" *ngFor="let l of languages" [value]="l">
          {{ l.toUpperCase() }}
        </mat-option>
      </mat-select>
    </span>
  </div>
</div>
