.main-heading {
  margin: 0 0 20px 0;
  margin-top: 4rem;
}
mat-card {
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.full-width-field {
  width: 100%;
}

.contact-container {
  display: grid;
  grid-template-columns: 40rem;
  justify-content: center;
}
