@use '@angular/material' as mat;
$mathis-light-primary: mat.define-palette(mat.$grey-palette, 200, 500, 300);
$mathis-light-accent: mat.define-palette(mat.$brown-palette, 200);
$mathis-light-warn: mat.define-palette(mat.$deep-orange-palette, 200);

$mathis-light-theme: mat.define-light-theme(
  $mathis-light-primary,
  $mathis-light-accent,
  $mathis-light-warn
);
