app-carousel {
  display: flex;
  justify-content: center;
}

.docs-carousel-content {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  outline: none;
}

.docs-carousel-content-wrapper {
  position: relative;
}

[appCarouselItem] {
  flex-shrink: 0;
  transition: transform 0.5s ease-in-out;
}

.docs-carousel-nav {
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
}

.docs-carousel-nav-prev {
  left: -40px;
}

.docs-carousel-nav-next {
  right: -40px;
}
