@import './styles/styles-variables';
@import './styles/styles-reset';

@import '~@angular/material/theming';

$heading-font-family: "'Work Sans', sans-serif";
$custom-typography: mat-typography-config(
  $display-4: mat-typography-level(7rem, $font-family: $heading-font-family),
  $display-3: mat-typography-level(3.5rem, $font-family: $heading-font-family),
  $display-2: mat-typography-level(2.8rem, $font-family: $heading-font-family),
  $display-1: mat-typography-level(2rem, $font-family: $heading-font-family),
  $headline: mat-typography-level(3.5rem, $font-family: $heading-font-family),
  $title: mat-typography-level(1.5rem, $font-family: $heading-font-family)
);

@include mat-core($custom-typography);

@import './themes/default-theme.scss';
@import './themes/light-theme.scss';
@import './themes/dark-theme.scss';
@import './themes/nature-theme.scss';

@import 'styles/styles-reset.scss-theme';

@import './app/app.component.scss-theme';

@import './app/scams/card-button/card-button.component.scss-theme.scss';
@import './app/scams/card/card.component.scss-theme.scss';
@import './app/scams/material-carousel/carousel.component.scss-theme.scss';
@import './app/about/about.component.scss-theme.scss';

@mixin custom-components-theme($theme) {
  @include mathis-styles-reset-theme($theme);

  @include mathis-app-component-theme($theme);
  @include mathis-card-button-component-theme($theme);
  @include mathis-card-component-theme($theme);
  @include carousel-theme($theme);
  @include mathis-about-component-theme($theme);
}

.default-theme {
  @include angular-material-theme($mathis-theme);
  @include custom-components-theme($mathis-theme);
}

.light-theme {
  @include angular-material-theme($mathis-light-theme);
  @include custom-components-theme($mathis-light-theme);
}

.dark-theme {
  @include angular-material-theme($mathis-dark-theme);
  @include custom-components-theme($mathis-dark-theme);
}

.nature-theme {
  @include angular-material-theme($mathis-nature-theme);
  @include custom-components-theme($mathis-nature-theme);
}
