@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';

@import './styles/styles-variables';
@import './styles/styles-reset';

@import '~@angular/material/theming';

$heading-font-family: "'Work Sans', sans-serif";
$custom-typography: mat-typography-config(
  $display-4: mat-typography-level(112px, $font-family: $heading-font-family),
  $display-3: mat-typography-level(56px, $font-family: $heading-font-family),
  $display-2: mat-typography-level(45px, $font-family: $heading-font-family),
  $display-1: mat-typography-level(34px, $font-family: $heading-font-family),
  $headline: mat-typography-level(24px, $font-family: $heading-font-family),
  $title: mat-typography-level(20px, $font-family: $heading-font-family)
);

@include mat-core($custom-typography);

@import './themes/default-theme.scss';
@import './themes/light-theme.scss';
@import './themes/dark-theme.scss';
@import './themes/nature-theme.scss';

@import 'styles/styles-reset.scss-theme';

@import './app/app.component.scss-theme';

@mixin custom-components-theme($theme) {
  @include mathis-styles-reset-theme($theme);

  @include mathis-app-component-theme($theme);
}

.default-theme {
  @include angular-material-theme($mathis-theme);
  @include custom-components-theme($mathis-theme);
}

.light-theme {
  @include angular-material-theme($mathis-light-theme);
  @include custom-components-theme($mathis-light-theme);
}

.dark-theme {
  @include angular-material-theme($mathis-dark-theme);
  @include custom-components-theme($mathis-dark-theme);
}

.nature-theme {
  @include angular-material-theme($mathis-nature-theme);
  @include custom-components-theme($mathis-nature-theme);
}
