.card-container {
  display: grid;
  row-gap: 2rem;
  padding: 1.75rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: 4px;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
    0 1px 3px 0 rgb(0 0 0 / 12%);
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }
  .card-header {
    display: flex;
    justify-content: space-between;
  }
  .card-content {
    span {
      opacity: 0.8;
    }
  }
  .card-footer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    span {
      opacity: 0.7;
      font-size: 12px;
    }
  }
}
