<div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>{{ 'app.settings.title' | translate }}</h1>
      </div>
    </div>
    <br>
    <ng-container *ngIf="settings$ | async as settings">
      <div class="row">
        <div class="col-md-6" [ngClass]="routeAnimationsElements">
          <h2>{{ 'app.settings.general.title' | translate }}</h2>
          <div class="icon-form-field">
            <mat-icon color="accent">
              <fa-icon icon="language" color="accent"></fa-icon>
            </mat-icon>
            <mat-form-field>
              <mat-select [placeholder]="'app.settings.general.placeholder' | translate"
                [ngModel]="settings?.language"
                (selectionChange)="onLanguageSelect($event)"
                role="option"
                data-cy="change-language"
                aria-label="Languages"
                name="language">
                <mat-option *ngFor="let l of languages" [value]="l.value">
                  {{ 'app.settings.general.language.' + l.label | translate }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="icon-form-field">
            <mat-icon color="accent">
              <fa-icon icon="bars" color="accent"></fa-icon>
            </mat-icon>
            <mat-placeholder>
              {{ 'app.settings.themes.sticky-header' | translate }}
            </mat-placeholder>
            <mat-slide-toggle
              data-cy="sticky-header"
              [checked]="settings.stickyHeader"
              (change)="onStickyHeaderToggle($event)">
            </mat-slide-toggle>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 group" [ngClass]="routeAnimationsElements">
          <h2>{{ 'app.settings.themes.title' | translate }}</h2>
          <div class="icon-form-field">
            <mat-icon color="accent">
              <fa-icon icon="paint-brush" color="accent"></fa-icon>
            </mat-icon>
            <mat-form-field>
              <mat-select [placeholder]="'app.settings.themes.placeholder' | translate"
                [ngModel]="settings.theme"
                (selectionChange)="onThemeSelect($event)"
                role="option"
                data-cy="change-theme"
                name="themes">
                <mat-option *ngFor="let t of themes" [value]="t.value">
                  {{ 'app.settings.themes.' + t.label | translate }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="icon-form-field">
            <mat-icon color="accent">
              <fa-icon icon="cloud" color="accent"></fa-icon>
            </mat-icon>
            <mat-form-field>
              <mat-select [placeholder]="'app.settings.particle.placeholder' | translate"
                [ngModel]="settings.particles?.name"
                (selectionChange)="onParticleSelect($event)"
                role="option"
                aria-label="Particles"
                name="particle">
                <mat-option *ngFor="let particleConfig of particleConfigs" [value]="particleConfig?.name">
                  {{ 'app.settings.particle.' + particleConfig?.name | translate }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="icon-form-field">
            <mat-icon color="accent">
              <fa-icon icon="lightbulb" color="accent"></fa-icon>
            </mat-icon>
            <mat-placeholder>
              {{ 'app.settings.themes.night-mode' | translate }}
            </mat-placeholder>
            <mat-slide-toggle
              data-cy="auto-night-mode"
              [checked]="settings.autoNightMode"
              (change)="onAutoNightModeToggle($event)">
            </mat-slide-toggle>
          </div>
          <div class="icon-form-field">
            <mat-icon color="accent">
              <fa-icon icon="lightbulb" color="accent"></fa-icon>
            </mat-icon>
            <mat-placeholder>
              {{ 'app.settings.themes.os-mode' | translate }}
            </mat-placeholder>
            <mat-slide-toggle
              data-cy="theme-based-on-os"
              [checked]="settings.isOperatingSystemMode"
              (change)="onOperatingSystemModeToggle($event)">
            </mat-slide-toggle>
          </div>
        </div>
        <div class="col-md-6 group" [ngClass]="routeAnimationsElements">
          <h2>{{ 'app.settings.animations.title' | translate }}</h2>
          <div class="icon-form-field">
            <mat-icon color="accent">
              <fa-icon icon="window-maximize"></fa-icon>
            </mat-icon>
            <mat-placeholder>
              {{ 'app.settings.animations.page' | translate }}
            </mat-placeholder>
            <mat-slide-toggle
              matTooltip="Sorry, this feature is disabled in IE, EDGE and Safari"
              matTooltipPosition="before"
              *ngIf="settings.pageAnimationsDisabled"
              disabled>
            </mat-slide-toggle>
            <mat-slide-toggle
              data-cy="page-animation-disabled"
              *ngIf="!settings.pageAnimationsDisabled"
              [checked]="settings.pageAnimations"
              (change)="onPageAnimationsToggle($event)">
            </mat-slide-toggle>
          </div>
          <div class="icon-form-field">
            <mat-icon color="accent">
              <fa-icon icon="stream" color="accent"></fa-icon>
            </mat-icon>
            <mat-placeholder>
              {{ 'app.settings.animations.elements' | translate }}
            </mat-placeholder>
            <mat-slide-toggle
              data-cy="elements-animation"
              [checked]="settings.elementsAnimations"
              (change)="onElementsAnimationsToggle($event)">
            </mat-slide-toggle>
          </div>
        </div>
      </div>
    </ng-container>
</div>
